.about .title {
  margin-bottom: 20px;
}
.about .description {
  margin-bottom: 20px;
}
.about__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  width: 402px;
  color: #555;
  margin-bottom: 40px;
}

@media screen and(min-width:320px) and (max-width: 767.9px) {
  .about__list {
    display: none;
  }
}
// ====== tablet =====
@media screen and (min-width: 768px) {
  .about .container {
    display: flex;
  }
  .about__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .about__right-side {
    margin-left: 29px;
  }
  .about__text {
    width: 100%;
  }
}
// ======  desktop =====
@media screen and (min-width: 1200px) {
  .about__list {
    display: flex;
  }
  .about__list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .about__right-side {
    padding-left: 64px;
  }
  .about__text {
    width: 489px;
  }
}
