/* =============== CONTACT =============== */
.contact {
  background-color: #191c26;

  & .title {
    width: 418px;
    text-align: center;
    margin-bottom: 40px;
  }
}

/* =============== CONTACT FORM =============== */
.contact-form {
  margin-left: auto;

  &-section {
    padding: 84px 31px;
  }

  & ::placeholder {
    text-transform: uppercase;
  }

  &__input {
    width: 100%;
    height: 24px;
    font-weight: 600;
    font-size: 11px;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    background-color: transparent;
    color: #fff;
    margin-bottom: 44px;
    transition: all 250ms linear;
  }

  &__input:focus,
  &__message:focus {
    outline: none;
    border-color: #fff;
  }

  &__input:focus::placeholder,
  &__message:focus::placeholder {
    color: #fff;
  }

  &__message {
    width: 100%;
    height: 76px;
    font-size: 11px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    resize: none;
    color: #fff;
    margin-bottom: 44px;
    transition: all 250ms linear;
  }

  &__btn {
    min-width: 160px;
    border: 1px solid $accent-color;
    border-radius: 25px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    padding: 12px 20px;
    color: #fff;

    transition: all 250ms linear;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: #fff;
    }
  }
}
/* =============== CONTACT INFO ===============*/
.contact-info {
  padding: 84px 31px;
  background-image: url('../images/contact/contact-mobile.png');
  background-size: cover;

  @media screen and(min-device-pixel-ratio: 2) and(min-width:320px) and(max-width:767px),
    screen and(min-resolution: 192px) and(min-width:320px) and(max-width:767px),
    screen and(min-resolution: 2dppx) and(min-width:320px) and(max-width:767px) {
    background-image: url(../images/contact/contact-mobile@2x.png);
  }
}

.contact .address {
  margin-bottom: 44px;
}
.contact-list__link,
.contact-info__date {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contact-list__link {
  display: flex;
  align-items: center;
}
.contact-list__icon {
  margin-right: 16px;
}
.contact-list__item:first-child .contact-list__icon {
  align-self: flex-start;
  margin-top: 6px;
}
.contact-list__item:not(:last-child) {
  margin-bottom: 20px;
}
// ====== tablet =====
@media screen and (min-width: 768px) {
  .contact .title {
    // width: 418px;
    text-align: left;
  }
  /* =============== CONTACT FORM =============== */
  .contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-section {
      width: 688px;
      padding: 100px 0;
      margin-left: auto;
      margin-right: auto;
    }

    &__input {
      width: 330px;
    }
  }

  /* =============== CONTACT INFO ===============*/
  .contact-info {
    // padding: 100px 40px;
    width: 688px;
    padding: 100px 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/contact/contact-tablet.png');

    @media screen and(min-device-pixel-ratio: 2),
      screen and(min-resolution: 192px),
      screen and(min-resolution: 2dppx) {
      background-image: url(../images/contact/contact-tablet@2x.png);
    }
  }
  .contact-wrapper {
    display: flex;
  }
  .contact .address {
    width: 330px;
    margin: 0;
  }
  .time-wrapper {
    margin-left: 30px;
  }
}
// ========== Desktop ===============
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
  }
  /* =============== CONTACT FORM =============== */
  .contact-form {
    width: 560px;
    margin-left: auto;

    &-section {
      width: 51.25%;
      padding: 130px 40px 130px 15px;
    }

    &__input {
      width: 250px;
    }
  }
  /* =============== CONTACT INFO ===============*/
  .contact-info {
    width: 48.75%;
    padding: 130px 240px 130px 100px;
    background-image: url('../images/contact/contact-desktop.png');

    @media screen and(min-device-pixel-ratio: 2),
      screen and(min-resolution: 192px),
      screen and(min-resolution: 2dppx) {
      background-image: url(../images/contact/contact-desktop@2x.png);
    }
  }
  .contact-wrapper {
    display: block;
  }
  .contact .address {
    margin-bottom: 70px;
  }
  .time-wrapper {
    margin: 0;
  }
}
