.footer {
  padding: 56px 0;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright {
  font-weight: 600; 
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #9d9d9d;
}
.footer .social-links{
  transform: none;
}