.gallery .undertitle {
  margin-bottom: 44px;
  line-height: 21px;
}
@media screen and (max-width: 767px) {
  .gallery__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

// ========== Tablet ===============
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    
    &-item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &:nth-child(odd) {
        margin-right: 30px;
      }

      &:nth-child(3n) {
        margin-bottom: 0;
      }
    }
  }
}

// ========== Desktop ===============
@media screen and (min-width: 1200px) {
  .gallery__list {
    display: flex;
    justify-content: space-between;
  }
  .gallery__list-item {
    margin-right: 0;
    margin-bottom: 0;
  }
}
