.masters {
  background-color: #f7f7f7;

  & .container {
    max-width: 418px;
    padding: 0;
  }

  & .title {
    margin-bottom: 44px;
  }

  &__list {
    &-content-wrapper {
      width: 206px;
      margin: 0 auto;
      margin-top: 30px;
    }

    &-item:not(:last-child) {
      margin-bottom: 64px;
    }

    &-name {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #303030;
      margin-bottom: 8px;
    }

    &-position {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.02em;
      text-align: center;
      color: $accent-color;
      margin-bottom: 30px;
    }
  }
}
.social-list {
  display: flex;
  justify-content: space-between;

  &__icon {
    width: 20px;
    height: 20px;
    transition: fill 250ms linear;
  }
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;

  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #000;
  }

  &:hover .social-list__icon,
  &:focus .social-list__icon {  
    fill: $accent-color;
  }
}
// ========== Tablet ===============
@media screen and (min-width: 768px) {
  .masters .container {
    max-width: 450px;
  }
}
// ========== Desktop ===============
@media screen and (min-width: 1200px) {
  .masters {
    & .container {
      max-width: 1200px;
      padding: 0 15px;
    }

    &__list {
      display: flex;
      justify-content: space-between;

      &-item:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}
