.services {
  background-color: #111319;
  background-image: url(../images/services/services-mobile.png);
  background-size: cover;
}
.services .title {
  margin-bottom: 44px;
}
.services__list-item:not(:last-child) {
  margin-bottom: 20px;
}
.services__list-item-underline {
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin: 0 6px;
}
.services__list-item-name,
.services__list-item-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd; // #9d9d9d;
}
.services .modal__btn {
  display: block;
  margin: 0 auto;
}
.services__list-wrapper {
  display: block;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2));
  padding: 30px 30px;
  margin-bottom: 50px;
}
.services__list:first-child {
  padding-bottom: 20px;
}
/* .services__list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2));
}
.services__list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2));
} */

.services__list-item {
  display: flex;
  align-items: baseline;
}
// ====== tablet =====
@media screen and (min-width: 768px) {
  .services {
    background-image: url(../images/services/services-tablet.png);
  }
  .services__list-wrapper {
    padding: 30px 40px;
  }
  .services__list-item-name,
  .services__list-item-price {
    font-size: 18px;
    line-height: 30px;
  }
}

// ========== Desktop ===============
@media screen and (min-width: 1200px) {
  .services {
    background-image: url(../images/services/services-desktop.png);
    background-size: cover;
  }
  .services__list-wrapper {
    display: flex;
    background-image: none;
    padding: 0;
  }
  .services__list {
    width: 50%;
    padding: 30px 40px;
    background-image: linear-gradient(
      180deg,
      #171a24 0%,
      rgba(23, 26, 36, 0.2)
    );
  }
  .services__list:first-child {
    padding-bottom: 0px;
  }
  /* шахматка */
  .services__list:nth-child(4n-1),
  .services__list:nth-child(4n-2) {
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2));
  }
}
