.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    width: 320px;
    font-size: 18px;
    line-height: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 445px;
  }

  &_light-theme {
    color: #555;
    // outline: solid red;
  }

  &_dark-theme {
    color: #9da4bd;
  }
}
