.title {
  font-family: $secondry-font;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: #303030;

  &_light-theme {
    color: #303030;
  }
  
  &_dark-theme {
    color: #fff;
  }
}
