.title {
  font-family: $secondry-font;
  font-weight: 700;
  // font-size: 28px;
  // line-height: 33px;
  font-size: 42px;
    line-height: 49px;
  letter-spacing: 0.05em;
  color: #303030;

  &_light-theme {
    color: #fff;
  }

  &_dark-theme {
    color: #303030;
  }
}
// ========== Desktop ===============
// @media screen and (min-width: 1200px) {
//   .title {
//     font-family: $secondry-font;
//     font-weight: 700;
//     font-size: 42px;
//     line-height: calc(49 / 42);
//     letter-spacing: 0.05em;
//     color: #303030;
//   }
// }
