.undertitle {
  /* font-family: var(--main-font); */
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 12);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  /* color */
}

.undertitle::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  /* background-color: #333; */
  margin-right: 20px;
}

.undertitle_light-theme {
  color: #303030;
}
.undertitle_light-theme::before {
  background-color: #303030;
}
.undertitle_dark-theme {
  color: rgba(157, 164, 189, 0.6);
}
.undertitle_dark-theme::before {
  background-color: rgba(157, 164, 189, 0.6);
}